body
{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: top;
}
div
{
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    height: 570px;
    width: 410px;
    background-color: white
}
#pic1
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#p1
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
}
#p2
{
    text-align: center;
    color: #7280a7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 40px 20px 40px;
}
#tb
{
    background-color: #f5f7ff;
    height: 80px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 17px;
}
#pic2
{
    margin-left: 10px; 
}
#td2
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 650;
    padding-top: 15px;
}
#td3
{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 14px;
    font-size: 15px;
    color: #7280a7;
}
#td4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    text-decoration: underline;
    color: #3700ff;
}
button
{
    margin: auto;
    display: block;
    background-color: #3829e0;
    color: white;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 550;
    box-shadow: 2px 2px 5px #3829e065;
}
#p3
{
    text-align: center;
    margin-top: 30px;
    color: #7280a7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 550;
}